Package: com.xbmc.xbmc_ios
Name: xbmc_ios
Version: 10.10-1
Architecture: iphoneos-arm
Description: XBMC Multimedia center for your iOS device
Homepage: http://xbmc.org/
Depiction: http://xbmc.org/
Maintainer: Scott Davilla, Edgar Hucek
Author: http://xbmc.org/
Section: Multimedia
Icon: file:///Applications/XBMC/XBMC.png
